/*=============== REST & GLOBAL =========*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    min-height: 100vh;
    background-color: #f4f6fb;
    color: #333;
}

a{
    text-decoration: none;
    color: inherit;
}

/*================== NAVBAR ==================*/
.navbar-container{
    height: 80px;
    width: 100%;
    background: linear-gradient(135deg, #0a1f44, #143c8b);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.logo{
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 1px;
}

.nav-link{
    display: flex;
    gap: 20px;
}

.nav-link a{
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.nav-link a:hover{
    background-color: #ffffff;
    color: #0a1f44;
}

/* ================== HERO SECTION ================== */
.hero-container {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.hero-container h1 {
  font-size: 64px;
  color: #0a1f44;
  margin-bottom: 20px;
}

.hero-container p {
  max-width: 800px;
  font-size: 18px;
  line-height: 1.7;
  color: #555;
  margin-bottom: 40px;
}

/* ================== BUTTON ================== */
.btn-container button {
  padding: 14px 40px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 30px;
  border: none;
  background: linear-gradient(135deg, #143c8b, #1e5ed8);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 8px 20px rgba(30, 94, 216, 0.3);
}

.btn-container button:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(30, 94, 216, 0.4);
}

.employee-table{
  width: 100%;
}

.employee-table tr th, .employee-table tr td{
  text-align: center;
  border: 1px solid #0e0303;
}

/* ================== RESPONSIVE ================== */
@media (max-width: 768px) {
  .navbar-container {
    padding: 0 25px;
  }

  .logo {
    font-size: 22px;
  }

  .nav-links {
    gap: 10px;
  }

  .hero-container h1 {
    font-size: 42px;
  }

  .hero-container p {
    font-size: 16px;
  }
}

.btn{
  padding: 4px 20px;
  font-size: 10px;
  font-weight: 400;
  border-radius: 30px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 8px 20px rgba(30, 94, 216, 0.3);
}

.btn-edit{
  background: linear-gradient(135deg, #143c8b, #1e5ed8);
}
.btn-delete{
  background-color: red;;
}
